.salida {
  height: 90vh;
  background-color: aliceblue;

}

.entrada {
  background: linear-gradient(117deg, rgb(201, 210, 147) 0%, rgb(144, 170, 47) 100%);
}


.lg {
  margin-top: 15px;
  height: 60px;

}

.imagen {
  width: 500px;
  height: 300px;

}

input {
  height: 40vh;
  width: 30vw;
  border-radius: 8px;
  position: absolute;
  top: 10;
  left: 250;

}

input::placeholder {
  font-size: 15px;

  position: absolute;
  top: 10;
  left: 250;
}

.mg {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  display: block;
  margin: 0 auto;
  border-radius: 50%;

}

#enc {
  margin: 0 auto;
  min-height: 20vh;
  border: 1px solid #8d8d8d;
  max-height: 38vh;
  overflow: auto;
  width: 87%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px 5px #2d2d2d;

}

footer {
  text-align: center;
  background-color: #576a35;
  color: #fff;
  height: 10vh;
}

@media (max-width: 600px) {

  /* Estilos que se aplican solo en pantallas de ancho máximo de 600px */
  .entrada {
    height: 35vh;
    width: 100vw;
  }

  .salida {
    height: 50vh;
    width: 100vw;
  }

  footer {
    height: 10vh;
    width: 100vw;
  }

  .imagen {
    height: 15vh;
  }

  #enc {
    height: 15vh;
  }
}

#enc::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#enc::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgb(144, 170, 47);
  border-radius: 5px;
}